<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>
<body>

    <div class="container mt-5">
        <div class="row">

            <div class="col-md-6">
                <h2>About</h2>
                <p>
                    Welcome to our eCommerce store! This platform is a part of my WEB322 course project. 
                    I am currently studying CPA (Computer Programming - Analysis) and have an interest in web development, programming, and technology. 
                    My goal is to build full-stack applications and improve my development skills.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Coming Soon</h2>
                <p>
                    Stay tuned for future updates! New features and improvements will be added soon.
                </p>
            </div>
        </div>
    </div>

</body>
</html>
